@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 2100px;
  margin: auto;
}

@layer components {
  .underline-animation {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 2px;
    background-color: rgb(232, 197, 1);
    transition: left 0.3s ease-out;
  }

  .underline-animation:hover::after {
    left: 0;
  }

  .active-link {
    position: relative;
    color: rgb(232, 197, 1);
  }

  .active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(232, 197, 1);
    transition: left 0.3s ease-out;
  }

  /*ICON*****************************************************************************/
  .icon {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .icon:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* BUTTON*********************************************************************/
  .btn-main {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 3px 4px 4px rgb(255, 255, 255);
  }

  .btn-main:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(117, 52, 160, 0.106);
  }

  /* .btnStack {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 1px 4px 3px rgba(195, 183, 167, 0.526);
  }

  .btnStack:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(50, 89, 180, 0.588);
  }  */

  /* COLOR****************************************************************** */

  .bgPrimary {
    background-color: #ffbd39;
  }

  .bgHamburger {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  }

  .bgSecondary {
    --tw-bg-opacity: 1;
    background-color: rgb(227 215 205 / var(--tw-bg-opacity));
  }

  .bgHeaderStack {
    background-color: #000000;
  }

  .bgFooter {
    background-color: #001722;
  }

  .colorPrimaryStack {
    color: #ffbd39;
  }

  .bgPrimaryStack {
    background-color: #ffbd39;
  }

  /* SHADOW CLASS******************************************/
  .shadow-white {
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.665),
      0 -1px 6px rgba(255, 255, 255, 0.424),
      1px 0 6px rgba(255, 255, 255, 0.424),
      -1px 0 6px rgba(255, 255, 255, 0.424);
  }
}

/* Parralaxe  sans ralentissement ou effet */
.parallaxe {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Animation au hover defilement de couleur */
@keyframes gradient-scroll {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* @keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.btn-gradient:hover {
  /* background: linear-gradient(270deg, #022c42, #1b4d63, #3078a7, #1b4d63, #022c42); */
  background: linear-gradient(270deg, #ff7e5f, #942fb9, #ff7e5f);
  background-size: 300% 300%;
  animation: gradient-scroll 3s linear infinite;
  color: white;
  border: none;
}
/*__________________________________________________________*/

/* Animation de defilement de couleur de fond */
@keyframes background-color-animation {
  0% {
    background-color: #000000; /* Couleur sombre initiale */
  }
  50% {
    background-color: #33271a; /* Couleur intermédiaire */
  }
  100% {
    background-color: #000000; /* Retour à la couleur initiale */
  }
}

.animate-background {
  animation: background-color-animation 3s infinite;
}

/* Animation ultra fluide de défilement de couleur de fond */
@keyframes ultra-smooth-scroll {
  0% {
    background-position: 0% 50%; /* Départ à gauche */
  }
  100% {
    background-position: 100% 50%; /* Fin à droite */
  }
}

.animate-background-scroll {
  background: linear-gradient(
    90deg,
    #df9f3e,
    #c0764b,
    #ff7e5f,
    #ffa94d,
    #ff7e5f,
    #c0764b,
    #df9f3e
  );
  background-size: 400% 400%;
  animation: ultra-smooth-scroll 3s linear infinite;
}

/* Animation de défilement de pointillés effet gravier */
@keyframes gravel-scroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 50%; /* Déplacement fluide des pointillés */
  }
}

.animate-gravel {
  /* background-color: #0a0a0a;
  background-image: radial-gradient(
      circle,
      rgba(189, 119, 5, 0.42) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, #000000, #1a1a1a);
  background-size: 30px 30px, 100% 100%;
  animation: gravel-scroll 8s linear infinite; */
  background-color: #0a0a0a;
  background-image: radial-gradient(
      circle,
      rgba(189, 119, 5, 0.42) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, #000000, #0f0f0f);
  background-size: 30px 30px, 100% 100%;
  animation: gravel-scroll 8s linear infinite;
}

/* Animation de dégradé fluide multicolore */
@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(
    90deg,
    #ff9a9e,
    #fad0c4,
    #fbc2eb,
    #a18cd1,
    #fbc2eb,
    #fad0c4,
    #ff9a9e
  );
  background-size: 200% 200%; /* Taille étendue pour un défilement fluide */
  animation: gradient-flow 10s ease infinite;
}

/* Keyframes pour l'animation de texte des cards service graphique */
@keyframes text-gradient-flow {
  /* 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Classe pour le texte animé */
.animate-text-gradient {
  background: linear-gradient(270deg, #ff7e5f, #942fb9, #ff7e5f);

  background-size: 200% 200%; /* Étend la taille du dégradé */
  background-clip: text; /* Applique le dégradé uniquement au texte */
  -webkit-text-fill-color: transparent; /* Rend le fond du texte transparent */
  animation: text-gradient-flow 3s ease infinite; /* Animation fluide et infinie */
}

.hover-text-white:hover {
  /* -webkit-background-clip: unset; */
  -webkit-text-fill-color: white;
}

/* bloc rond avec number dans cards developpement */
.animate-bg-gradient {
  background: linear-gradient(270deg, #ff7e5f, #942fb9, #ff7e5f);

  background-size: 800% 800%;
  animation: text-gradient-flow 3s ease-in infinite;
}

.hover-bg-white:hover {
  background: white;
}
