@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
  }


  @layer components {
    .underline-animation {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
  
    .underline-animation::after {
      content: '';
      position: absolute;
      bottom: - 10px;
      left: 100%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition: left 0.3s ease-out;
    }
  
    .underline-animation:hover::after {
      left: 0;
    }

    .icon {
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .icon:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
  
    .icon:active {
      transform: translateY(2px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btnMain {
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      box-shadow: 0 4px 6px rgb(162, 62, 134);
    }
  
    .btnMain:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 12px rgba(117, 52, 160, 0.106);
    }
  
    .btnMain:active {
      transform: translateY(2px);
      box-shadow: 0 2px 4px rgba(144, 59, 159, 0.1);
    }
  }